.container {
    display: flex;
    height: 700px;
    width: 1152px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: #370617
}

.card {
    display: flex;
    height: 160px;
    width: 468px;
    margin: 10px;
    padding: 5px;
    background-color: #F48C06;
    border-radius: 2%;
}

.card--square {
    display: flex;
    background-color: #9D0208;
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 5%;
    border: none;
}

.card__one {
    align-items: flex-end;
}

.card__two {
    justify-content: center;
    align-items: stretch;
}

.card__two .card--square {
    align-items: stretch;
}

.card__three {
    align-items: center;
    justify-content: flex-end;
}

.card__four {
    justify-content: space-between;
}

.card__four--box3 {
    align-self: flex-end;
}

.card__five {
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.card__five p {
    justify-content: center;
    align-items: baseline;
}

.card__five--box2 {
    height: 40px;
    padding: 15px 0;
}

.card__five--box {
    height: 40px;
    padding: 40px 0; 
}

.card__six {
    justify-content: center;
    align-items: center;
}

.card__six--box2 {
    flex-grow: 2;
}

.container__btn {
    display: flex;
    justify-content: center;
}

button {
    background-color: #6A040F;
    color: white;
    margin: 20px;
    padding: 30px;
}


