.container {
    display: flex;
    height: 700px;
    width: 1152px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: #370617
}

.card__content {
    display: flex;
    height: 160px;
    width: 468px;
    margin: 10px;
    padding: 5px;
    background-color: #F48C06;
    border-radius: 2%;
}

p {
    display: flex;
    background-color: #9D0208;
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 5%;
    border: none;
}

.card__content--one {
    align-items: flex-end;
}

.card__content--two {
    justify-content: center;
    align-items: center;
}

.card__content--two p {
    height: 130px;
}

.card__content--three {
    align-items: center;
    justify-content: flex-end;
}

.card__content--four {
    justify-content: space-between;
}

.card__content--four--box3 {
    align-self: flex-end;
}

.card__content--five {
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.card__content--five p {
    justify-content: center;
}

.card__content--five--box2 {
    height: 40px;
    padding: 15px 0;
}

.card__content--five--box1, .card__content--five--box3 {
    height: 40px;
    padding: 40px 0; 
}

.card__content--six {
    justify-content: center;
    align-items: center;
}

.card__content--six--box2 {
    width: 180px;
}

.container__btn {
    display: flex;
    justify-content: center;
}

button {
    background-color: #6A040F;
    color: white;
    margin: 20px;
    padding: 30px;
}


